<section class="about">
    <h1 class="heading">about <span>me</span></h1>

    <div class="row">
        <div class="info-container">
            <h1>personal info</h1>

            <div class="box-container">
                <div class="box">
                    <h3><span>name : </span> Murasoli maran</h3>
                    <h3><span>email : </span> murasoli94@gmail.com</h3>
                    <h3><span>Phone No : </span>9629718843</h3>
                    <h3><span>address : </span> chennai, india - 600061</h3>
                </div>

                <div class="box">
                    <h3><span>skill : </span> frontend</h3>
                    <h3><span>experience : </span> 3 years</h3>
                    <h3><span>language : </span> tamil, english, malayalam</h3>
                </div>
            </div>

            <a href="./document/Maran_CV.pdf" class="btn yourlink" download target="_blank">
                download CV <i class="fas fa-download"></i>
            </a>
        </div>

        <div class="count-container">
            <div class="box">
                <h3>3+</h3>
                <p>years of experience</p>
            </div>

            <div class="box">
                <h3>50+</h3>
                <p>happy clients</p>
            </div>

            <div class="box">
                <h3>100+</h3>
                <p>project completed</p>
            </div>

            <div class="box">
                <h3>10+</h3>
                <p>awards won</p>
            </div>
        </div>
    </div>
</section>

<section class="education">

    <h1 class="heading"> <span>work</span> experience</h1>

    <div class="box-container work-section">
        <div class="box">
            <i class="fas fa-briefcase"></i>
            <span>2021 - Present</span>
            <h3>frontend Developer</h3>
            <div class="domain-info">
                <h5>Mako it lab</h5>
                <p class="fas fa-map-marker-alt "> <span>Chennai</span></p>
            </div>

            <ul class="roles">
                <li>Implemented websites, mobile applications, and landing pages from concept through deployment.</li>
                <li>Standardised all output with a new, responsive, mobile-first approach and strategy.</li>
                <li>Collaborated with product team members to implement new feature developments.</li>
                <li>Developed front-end web pages with HTML5, CSS3, and JavaScript.</li>
                <li>Resolved browsers compatibility issues, solving all conflicts for Firefox users.</li>
            </ul>

        </div>
        <div class="box">
            <i class="fas fa-briefcase"></i>
            <span>2019 - 2020</span>
            <h3>Ui Developer</h3>
            <div class="domain-info">
                <h5>Net Avenue Technologies</h5>
                <p class="fas fa-map-marker-alt "> <span>Chennai</span></p>
            </div>

            <ul class="roles">
                <li>Worked on front end pages that were developed in a professional manner using HTML. CSS, JavaScript,
                    and JQUERY.</li>
                <li>Coded pages with best Search Engine Optimization (SEO) techniques.</li>
                <li>Converted PSD mock-ups into pure hand-written HTML and CSS pages.</li>
                <li>Used JavaScript libraries to create slider and page-turning animations on calendar widgets.</li>
                <li>Experience with Responsive Design, Tablet and Mobile Web development.</li>

            </ul>

        </div>
        <div class="box">
            <i class="fas fa-briefcase"></i>
            <span>2018 - 2019</span>
            <h3>Web Developer</h3>
            <div class="domain-info">
                <h5>Dots IT Solutions</h5>
                <p class="fas fa-map-marker-alt "> <span>Chennai</span></p>
            </div>

            <ul class="roles">
                <li>Designed the Web application layout and forms using HTML, CSS. and JavaScript.</li>
                <li>Standardized all output with a new, responsive, mobile-first approach and strategy.</li>
                <li>Involved in fixing Front-End issues with the layouts.</li>
                <li>Developed data insertion forms and validated them using JavaScript</li>
                <li>Creating Responsive Mailers Templets</li>
            </ul>

        </div>

    </div>

</section>


<section class="skills">

    <h1 class="heading"> <span>my</span> skills </h1>

    <div class="box-container">
        <div class="box">
            <img src="../../assets/images/icon-1.png" alt="Html">
            <h3>html</h3>
        </div>
        <div class="box">
            <img src="../../assets/images/icon-2.png" alt="CSS">
            <h3>css</h3>
        </div>
        <div class="box">
            <img src="../../assets/images/icon-3.png" alt="JS">
            <h3>javascript</h3>
        </div>
        <div class="box">
            <img src="../../assets/images/icon-5.png" alt="jquery">
            <h3>jquery</h3>
        </div>
        <div class="box">
            <img src="../../assets/images/icon-6.png" alt="Angular">
            <h3>Angular</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/icon-4.png" alt="sass">
            <h3>sass</h3>
        </div>

        <div class="box">
            <img src="../../assets/images/icon-7.png" alt="wordpress">
            <h3>wordpress</h3>
        </div>
    </div>

</section>




<section class="education">

    <h1 class="heading"> <span>my</span> education </h1>

    <div class="box-container ">
        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2015 - 2018</span>
            <div class="course-info">
                <h3>MCA</h3>
                <p>78 &#37;</p>
            </div>
            <p>Guru Nanak College, Chennai-600042</p>

            <p>MCA stands for Masters in Computer Applications which is a professional post-graduation degree in
                computer science. </p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2011 - 2014</span>
            <div class="course-info">
                <h3>Bsc Computer Science</h3>
                <p>65 &#37;</p>
            </div>
            <p>Best Arts and Science College, Sirkali - 609109</p>

            <p>The Bachelor of Computer Science is a bachelor's degree awarded by some universities for completion of an
                undergraduate program in computer science.</p>
        </div>

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2020 - 2021</span>
            <div class="course-info">
                <h3>HSC</h3>
                <p>58 &#37;</p>
            </div>
            <p>Ramakrishna Higher secondary school, Kothandapuram - 609101</p>
            <p>The full form of HSC is the Higher Secondary School Certificate.</p>
        </div>
    </div>
</section>