<!-- contact section starts  -->

<section class="contact">

    <h1 class="heading"> contact <span>me</span> </h1>
    
    <div class="row">
    
        <div class="info-container">
    
            <h1>get in touch</h1>
    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem sunt sapiente vel minus eaque voluptate fugit corrupti omnis tempora?</p>
    
            <div class="box-container">
    
                <div class="box">
                    <i class="fas fa-map"></i>
                    <div class="info">
                        <h3>address :</h3>
                        <p>chennai, india - 600061 </p>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-envelope"></i>
                    <div class="info">
                        <h3>email :</h3>
                        <p>murasoli94@gmail.com</p>
                    </div>
                </div>
    
                <div class="box">
                    <i class="fas fa-phone-alt"></i>
                    <div class="info">
                        <h3>number :</h3>
                        <p>9629718843</p>
                    </div>
                </div>
    
            </div>
    
            <div class="share">
                <a [routerLink]="['https://www.facebook.com/maranvj07/']" target="_blank" class="fab fa-facebook-f"></a>
                <a [routerLink]="['https://twitter.com/MaranVj5']" target="_blank" class="fab fa-twitter"></a>
                <a [routerLink]="['https://www.instagram.com/maara_vj07/']" target="_blank" class="fab fa-instagram"></a>
                <a [routerLink]="['https://www.linkedin.com/in/maran-k-05160011a/']" target="_blank" class="fab fa-linkedin"></a>
            </div>
    
        </div>
    
        <form action="">
    
            <div class="inputBox">
                <input type="text" placeholder="your name">
                <input type="number" placeholder="your number">
            </div>
    
            <div class="inputBox">
                <input type="email" placeholder="your email">
                <input type="text" placeholder="your subject">
            </div>
    
            <textarea name="" placeholder="your message" id="" cols="30" rows="10"></textarea>
    
            <input type="submit" value="send message" class="btn">
    
        </form>
    
    </div>
    
    </section>
    
    <!-- contact section ends -->