<section class="portfolio">

  <h1 class="heading"> <span>my</span> work </h1>

  <div class="box-container">

    <div class="box">
      <img src="../../assets/images/Project_1.jpg" alt="cbazaar">
      <div class="content">
        <h3>cbazaar</h3>
        <p>Design and develop a robust and user-friendly eCommerce web application that provides customers with a
          seamless shopping experience, supports secure transactions, and offers an efficient management system for
          administrators.</p>
        <a href="https://www.cbazaar.com/in/" target="_blank" title="cbazaar">read more</a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/Project_2.png" alt="MakoITLab">
      <div class="content">
        <h3>MakoITLab</h3>
        <p>Lead the redesign and development of the organization's website to enhance its online presence, improve user
          experience, and effectively communicate the mission, services, and achievements of the organization.</p>
        <a href="#" target="_blank" title="MakoITLab">read more</a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/Project_3.png" alt="averraglow">
      <div class="content">
        <h3>Averraglow</h3>
        <p>Shopify E-commerce Transformation: Revamped the online retail presence by migrating from a legacy system to
          Shopify. Designed, developed, and launched a dynamic e-commerce store, leveraging Shopify’s features to
          enhance the customer shopping experience.</p>
        <a href="https://averraglow.com/" target="_blank" title="averraglow">read more</a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/Project_4.svg" alt="holios">
      <div class="content">
        <h3>Holios</h3>
        <p>Led the development of e-commerce platforms with WordPress and WooCommerce,
          ensuring seamless transactions. Customized plugins and integrated third-party solutions to enhance
          functionality and meet project goals.</p>
        <a href="https://www.holios.io/" target="_blank" title="holios">read more</a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/Project_5.jpg" alt="Caringcare">
      <div class="content">
        <h3>Caringcare</h3>
        <p>Caring Care is a healthcare management platform built with Next.js and Tailwind CSS, offering a responsive,
          high-performance web application with fast load times and a user-friendly interface.</p>
        <a href="https://www.caringcare.co.uk/" target="_blank" title="caringcare">read more</a>
      </div>
    </div>

    <div class="box">
      <img src="../../assets/images/img-1.jpg" alt="rocketlane">
      <div class="content">
        <h3>Rocketlanecorp</h3>
        <p>Customer Support Portal Optimization: Enhanced customer support operations by utilizing Freshdesk to create a
          centralized platform for managing inquiries and improving overall support efficiency.</p>
        <a href="https://help.rocketlane.com/support/home" target="_blank" title="Rocketlanecorp">read more</a>
      </div>
    </div>

  </div>

  <a href="#" class="btn"> load more <i class="fas fa-redo"></i> </a>

</section>