<section class="home banner-img">

  <div class="image" data-aos="fade-left" data-aos-offset="300" data-aos-delay="100" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
    <img src="../../assets/images/user_img.jpg" alt="User">
  </div>

  <div class="content" data-aos="fade-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="1000"
    data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false">
    <h3>hi, i am Maran</h3>
    <span>front-end developer</span>
    <p>Proven Frontend Developer with 5+ years of experience in building scalable, user-centric web applications.
      Skilled in HTML, CSS, JavaScript, React, and Next.js, with a deep understanding of responsive frameworks and UI/UX
      principles. Adept at transforming design concepts into clean, efficient, and high-performing code, ensuring
      seamless user experiences across devices. A results-driven professional, focused on delivering innovative,
      functional solutions with React and Next.js at the core of development.

    </p>
    <a [routerLink]="['/about']" class="btn" [title]="['About']"> about me <i class="fas fa-user"></i> </a>
  </div>

</section>