<section class="home">

  <div class="image" data-scroll data-scroll-speed="2">
    <img src="../../assets/images/user_img.jpg" alt="User">
  </div>

  <div class="content">
    <h3>hi, i am Maran</h3>
    <span>front-end developer</span>
    <p>Experienced Frontend Developer with expertise in HTML, CSS, jquery, JavaScript, and Angular. Passionate about
      creating responsive and visually stunning user interfaces that enhance the user experience. Proven track record of
      collaborating with cross-functional teams to deliver high-quality projects on time and within budget.</p>
    <a [routerLink]="['/about']" class="btn" [title]="['About']"> about me <i class="fas fa-user"></i> </a>
  </div>

</section>